export(jmapHgu133aReimplemented)
export(jetsetCheckLookup)
export(getGenomicRegionsFromGeneSymbols)
importFrom(org.Hs.eg.db, org.Hs.egSYMBOL2EG, org.Hs.egALIAS2EG, org.Hs.egENSEMBL2EG, org.Hs.egSYMBOL)
importFrom(AnnotationDbi, mget)
importFrom("utils", "write.csv", "write.table")
import(BiocGenerics)
importFrom(xml2, read_html)
importFrom(geneExpressionFromGEO,readUrl)
import(biomaRt)
import(dplyr)
import(hgu133a.db)
import(jetset)
